<div class="card">
    <div class="card-body">
      <h2 class="card-title">Book this room</h2>
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="myForm" novalidate>
            <div class="form-group">
              <label>Room Number</label>
              <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group ">
              <label>Your Email</label>
              <input type="text" class="form-control" formControlName="modelName">
            </div>
            <div class="form-group ">
              <label>Arrival Date</label>
              <input type="text" class="form-control" formControlName="color" >
            </div>
            <div class="form-group ">
              <label>Departure Date</label>
              <input type="text" class="form-control" formControlName="productType" >
            </div>
            <div class="form-group">
              <label>Number of Occupants</label>
              <input type="text" class="form-control" formControlName="brand">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-default">Reset</button>
          </form>
        </div>
      </div>  
    </div>
  </div>
