<div class="back-link">
    <a href="http://localhost:4200/" class="btn btn-primary">back</a>
  </div>
<div>
    <h1>You Reservations</h1>
    <p>Each suite in The Ocean Street Hotel is designed to make you feel right at home, select a room
       you’d like to stay in to make a reservation. Come stay a night or two!</p>
  
  </div>
  <div><span>Selection</span></div>
  
    <div class="row text-center" *ngFor="let res of Reservations">
  
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let values of res ; let i = index">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Booked Room number : {{res[i].roomID}}</h3>
            <p class="card-text">Booking Finish Date : {{res[i].dateBookedTo}}</p>
            <p class="card-text">Booking Start date : {{res[i].dateBookedFrom}}</p>
            <p class="card-text">Occupants : {{res[i].occupants}}</p>
          </div>
          <div class="card-footer">
            <li><button  (click)="deleteARoom(res.bookingID)" >Delete Room</button></li>
            <li><button (click)="updateARoom(index$,res)"> Update Room</button></li>
          </div>
        </div>
      </div>