<div class="container">

  <div>
  <h1>Available Rooms</h1>
  <p>Each suite in The Ocean Street Hotel is designed to make you feel right at home, select a room
     you’d like to stay in to make a reservation. Come stay a night or two!</p>

</div>
<div><span>Selection</span></div>

  <div class="row text-center" *ngFor="let room of Rooms">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let values of room ; let i = index">
      <div class="card h-100">
        <img class="card-img-top" src="{{room[i].images}}" alt="">
        <div class="card-body">
          <h3 class="card-title">{{room[i].roomTitle}}</h3>
          <p class="card-text">{{room[i].description}}</p>
          <p class="card-text">Room Capacity : {{room[i].capacity}}</p>
          <p class="card-text">From ${{room[i].roomPrice}} AUD per night</p>
        </div>
        <div class="card-footer">
          <a href="http://localhost:4200/reservationform" class="btn btn-primary">Make a reservation</a>
        </div>
      </div>
    </div>
  </div>
